<div class="container" >
  <form clrForm [formGroup]="urlForm">
    <h1>Create ShortUrl</h1>
    <clr-input-container>
      <label
        >Original URL<clr-signpost>
          <clr-signpost-content *clrIfOpen>
            <p class="signpost-content"><code>Provide a valid URL (Beginning with https:// or http://)</code></p>
          </clr-signpost-content>
        </clr-signpost></label
      >
      <input
        type="text"
        name="originalUrl"
        formControlName="originalUrl"
        clrInput
        placeholder="Enter long URL"
      />
      <clr-control-error
        *ngIf="
          this.urlForm.get('originalUrl')?.invalid &&
          this.urlForm.get('originalUrl')?.touched
        "
        >Please enter valid Url</clr-control-error
      >
    </clr-input-container>
    <clr-radio-container clrInline>
      <label
        >Expiration Time<clr-signpost>
          <clr-signpost-content *clrIfOpen>
            <p class="signpost-content">
              <code>
                By default, a shortened URL will never expire, else choose
                a custom expiration date</code>
            </p>
          </clr-signpost-content>
        </clr-signpost></label
      >
      <clr-radio-wrapper>
        <input
          type="radio"
          clrRadio
          required
          value="Default"
          formControlName="expirationTimeType"
        />
        <label>Default</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input
          type="radio"
          clrRadio
          required
          value="Custom"
          formControlName="expirationTimeType"
        />
        <label>Custom</label>
      </clr-radio-wrapper>
    </clr-radio-container>
    <div
      class="CustomExpirationTime"
      *ngIf="this.urlForm.get('expirationTimeType')?.value === 'Custom'"
    >
      <clr-date-container>
        <label>Expiration Date</label>
        <input
          type="date"
          name="expirationDate"
          formControlName="expirationDate"
          clrDate
        />
        <clr-control-error
          *ngIf="
            this.urlForm.get('expirationDate')?.invalid &&
            this.urlForm.get('expirationDate')?.touched
          "
          >Please select valid date</clr-control-error
        >
      </clr-date-container>
    </div>
    <br />
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="this.urlForm.invalid"
      [clrLoading]="isLoading"
      (click)="onSubmit()"
    >
      Create Short URL
    </button>
  </form>

  <div clrForm *ngIf="isFormValid">
    <clr-input-container>
      <label>Shortened URL </label>
      <input
        clrInput
        type="text"
        name="shortUrl"
        #inputTarget
        class="readonlyInput"
        [value]="shortUrl"
        readonly
      /> </clr-input-container
    ><br />
    <button type="submit" class="btn btn-primary" [ngxClipboard]="inputTarget">
      <label>
        <clr-icon shape="copy-to-clipboard"></clr-icon>
        Copy
      </label>
    </button>
    <button type="submit" class="btn btn-primary" (click)="redirect()">
      <label> <clr-icon shape="redo"></clr-icon> Redirect </label>
    </button>
  </div>
</div>
