<div class="full-height">
    <header class="header-6">
        <div class="branding">
          <a href="..." class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">ShortUrl App</span>
          </a>
        </div>
        <div class="header-actions">
          
        </div>
      </header>
     <div >
        <b><h1 class="context">Error 404: webpage doesn't exist.</h1></b>
        <img class="main-text" src="./assets/error2.png" height="800px">
    </div>
    </div>